include Makefile
include config/wldm.ini.in
include config/wldm-devel.ini
include data/resources/greeter.ui
include data/resources/style.css
include data/scripts/wayland-session
include data/systemd/wldm.service.in
